<div id="the-container">
	<div class="home-column">
		<a >
			<h2>Create Ruleset Guidance</h2>
			<h3>Create a ruleset for redacting information from work products</h3>
			<div class="button" (click)="hideAppPage()" >Start Guidance</div>
		</a>
	</div>
	<div id="divider-line">
		<!--<div id="line-divider-or">or</div>-->
	</div>
	<div class="home-column">
		<a href="http://google.com">
			<h2>Design Work Product Template</h2>
			<h3>Make a template to for displaying data on work products</h3>
			<div class="button">Make Template</div>
		</a>
	</div>
</div>
