/* You can add global styles to this file, and also import other style files */
body, a {
max-width: 100%;
color: #183C5B;
background-color: #ECEEF0;
text-decoration: none;
}

a:hover {
	color: #838CA0;
}

.button {
	color: #ECEEF0;
	display: inline-block;
	background-color: #183C5B;
	max-width: 25%;
	padding: 20px;
	margin-top: 100px;
}

.button:hover {
	background-color: #838CA0;
}